/* header.css */

header {
    background-color: rgb(3, 28, 53);
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    column-gap: 2vh;
    padding: 4vh 6rem;
    align-items: center;
    text-align: center;
    color: white;
}

header p{
    margin: 0;
}

/* Regras para a página de impressão */
@media print {
    header {
        column-gap: 2vh !important;
        padding: 1vh 2rem !important;
    }
    header img {
        height: 4vh !important;
    }
    header p {
        font-size: 12px !important;
    }
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    header {
        column-gap: 1vh;
        font-size: 6px;
        padding: 4vh 1rem;
    }
    header img {
        height: 3vh !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    header {
        font-size: 10px;
        padding: 4vh 3rem;
    }
    header img {
        height: 4vh !important;
    }
}